# Dependências
node_modules/

# Expo
.expo/
.expo-shared/

# Build
dist/

# Logs
npm-debug.log*

# Env
.env

# Mac
.DS_Store

# Dados pesados SSP
data/raw/*
!data/raw/.gitkeep

# Android/iOS build (caso use)
android/build/
ios/build/